.App {
  text-align: center;
  display: flex;

  
}

.main{
  background-color: rgb(160, 158, 158);
  width: 800px;
  display: block;
  margin: auto;
  padding: 20px;

}

.sub{
  display: flex;
  justify-content: space-around;
}




